main {
  padding-top: 20px;
  background: #C2CBD3;
  padding-bottom: 50px;
  min-height: 1000px;
}

.home {
	&-quiz{
		&__introduction {
			padding: 5px 10px;
			&-h2 {
				border-bottom: solid;
				&-logo {
					width: 10%;
				}
			}
		}
		&__setting {
			padding: 5px 10px;
			&-h2 {
				border-bottom: solid;
				&-logo {
					width: 10%;
				}
			}
		}
		&__ranking {
			padding: 5px 10px;
			&-h2 {
				border-bottom: solid;
				&-logo {
					width: 10%;
				}
			}
		}
	}
	&__notice {
		padding: 5px 10px;
		&-h2 {
			border-bottom: solid;
			&-logo {
				width: 10%;
			}
		}
	}
}
