@font-face {
  font-family: "NasuM-Regular";
  src: url(../../fonts/NasuM-Regular.ttf);
}

body {
  font-family: NasuM-Regular, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
