// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "setting/_variables";
@import "setting/_media";
@import "layout/_header";
@import "layout/_footer";
@import "layout/_layout";
@import "module/_button";
@import "module/_sidebar";
@import "pages/_home";
@import "pages/_quiz";


article,
#sns-sections,
#keywords,
#texts {
  border: solid #C2CBD3;
  background: #fff;
}

h3.sidebar {
  font-size: 20px;
}


#sns-links {
  padding-left: 5px;
  padding-top: 10px;
}

#keywords,
#texts {
  margin-top: 10px;
}

ul.keywords-texts-str-li li {
  list-style: none;
  margin-left: -35px;
  padding-top: 10px;
}

ul.keywords-texts-str-li li a {
  margin-left: 15px;
}

// article {
//   width: 60%;
// }

// .sidebar {
//   background: #a3c0da;
//   margin: 0px auto;
//   padding: 10px;
// }

#correct,
#commentary,
#search,
#mypage {
  border-bottom: solid;
}

#correct-mark,
#commentary-mark,
#search-mark,
#mypage-icon {
  width: 10%;
}



#answer-list {
  background: #c5e4ff;
}

#commentary-text {
  padding: 20px 20px;
}

#answer-list ul {
  padding: 20px 10px;
}

#answer-list ul li {
  list-style: none;
  margin: 10px 0px;
}

#answer-list ul li a {
  margin: 10px 0px;
  padding-right: 10px;
}

.center-block {
  text-align: center;
  margin-top: 20px;
}

#correct-answer {
  width: 10%;
}

.alert {
  margin-top: 20px;
}

.modal-header {
  border-radius: 5px 5px 0px 0px;
  background: #6f7882;
  color: #fff;
}

.modal-footer {
  border-radius: 0px 0px 5px 5px;
  background-color: #eee;
}

#quiz-image {
  max-width: 300px;
  margin: 10px auto;
}

.description {
  margin-bottom: 30px;
}

#sns-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .col-md-8 {
    width: 60%;
  }
  .col-md-4 {
    width: 37%;
  }
}

@media (max-width: 992px) {
  ul.keywords-texts-str-li {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  ul.keywords-texts-str-li li {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  ul.keywords-texts-str-li li {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  ul.keywords-texts-str-li li {
    margin-left: -40px;
  }
}
